<!DOCTYPE html>
<html>
<head>
  <title>FileJudge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">FileJudge</a>
      <ul class="nav">
        <%= content_tag :li, link_to("Cases",root_path) %>
        <%= content_tag :li, link_to("New", new_case_path) %>
        <%= render_show_or_edit_link %>
      </ul>
    </div>
  </div>

  <%= content_tag :div, yield, class: "container-fluid" %>

</body>
</html>
